<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css" >
        <link rel="stylesheet" type="text/css" href="../static/css/App.css">
        <script>
            function createGraph(){
                var request = new XMLHttpRequest()
                request.open("POST", "/createGraph" , true)
                request.send()
            }
            function clearState(){
                var request = new XMLHttpRequest()
                request.open("GET", "/clearState" , true)
                request.send()
            }
        </script>
    </head>
    <body>
        <div class='container'>
          <h1 class="headerText">GraphGPT 🔎</h1>
          <p class='subheaderText'>Build complex, directed graphs to add structure to your ideas using natural language. Understand the relationships between people, systems, and maybe solve a mystery.</p>
          <p class='opensourceText'><a href="https://github.com/varunshenoy/graphgpt">GraphGPT is open-source</a>&nbsp;🎉</p>
          <center>
            <div class='inputContainer'>
              <form method="POST" action="/" class="graph-form">
                <input class="searchBar" name="searchBar" value="" placeholder="Describe your graph..."></input>
                <input class="apiKeyTextField" name="apiKeyTextField" value="" type="password" placeholder="Enter your OpenAI API key..."></input>
                <button class="generateButton" name="generateButton" onClick="createGraph()">Generate</button>
                <button class="clearButton" onClick="clearState()">Clear</button>
              </form>
            </div>
          </center>
          <div class='graphContainer'>
            <Graph graph={graphState} options={options} style = "height:640px"  />
          </div>
          <p class='footer'>Pro tip: don't take a screenshot! You can right-click and save the graph as a .png  📸</p>
        </div>
    </body>
</html>